.node {
  cursor: pointer;
}

.node circle {
  fill: #3fd14b;
  //stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 16px sans-serif;
}

.link {
  fill: none;
  stroke: #3f56d1;
  stroke-width: 2px;
}
