<!--<div class="container">-->

  <!--<div id="mySidenav" class="sidenav" ng-click="closeNav()">-->
    <!--<a href="javascript:void(0)" class="closebtn" >&times;</a>-->
  <!--</div>-->

  <!--<div id="main">-->
    <!--<h5>Jenecherú</h5>-->
    <!--<h2>UMAWA</h2>-->

    <!--<span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; open</span>-->
    <!--<div id="container">Placeholder for chart</div>-->
    <!--<div ng-include="'app/components/water-flow/waterFlow.html'"></div>-->
  <!--</div>-->

<!--</div>-->

<div>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div id="mySidenav" class="sidenav" ng-click="switchSidebar()">
  <a href="javascript:void(0)" class="closebtn" >&times;</a>

  <div id="container">Placeholder for chart</div>
</div>

<div id="main">

  <span style="font-size:30px;cursor:pointer" ng-click="switchSidebar()">&#9776;</span>
  <div>
    <div ng-include="'app/components/water-flow/waterFlow.html'"></div>
  </div>
</div>

<div class="container">
</div>



